<h1> This is your cat! </h1>

<h3> <%= @cat.name %> </h3>

<table>
  <tr>
    <th>Attribute</th>
    <th></th>
  </tr>

    <tr>
      <td> Birth Date </td>
      <td> <%= @cat.birth_date %> </td>
   </tr>

    <tr>
      <td> Color </td>
      <td> <%= @cat.color %> </td>
   </tr>

    <tr>
      <td> Sex </td>
      <td> <%= @cat.sex %> </td>
   </tr>

    <tr>
      <td> Description </td>
      <td> <%= @cat.description %> </td>
   </tr>
</table>
